In [1]:
from pywells.well import Well

In [2]:
well = Well('Data/159-19A_LFP.las')

In [3]:
well

In [4]:
well.wellname

'15/9-19'

In [5]:
well.LAT

58.435286

In [6]:
well.well_data

,LFP_AI,LFP_AI_B,LFP_AI_G,LFP_AI_LOG,LFP_AI_O,LFP_AI_V,LFP_API,LFP_BADDATA,LFP_BVWE,LFP_BVWT,...,LFP_VS_LOG,LFP_VS_O,LFP_VS_V,LFP_VSH,LFP_VSHDN,LFP_VSHDRY,LFP_VSHDRYC,LFP_VSHDRYWC,LFP_VSHGR,LFP_WATER
DEPTH,,,,,,,,,,,,,,,,,,,,,
3500.0183,9772.7246,9772.7246,9386.7666,9772.1309,9559.9043,9772.7246,0.899,0.0,0.1122,0.1209,...,1939.2350,1951.8311,1939.235,0.2519,0.3793,0.2431,0.2431,0.2431,0.2519,1.0
3500.1707,9738.0371,9738.0371,9332.1416,9738.1611,9511.0146,9738.0371,0.899,0.0,0.1074,0.1159,...,1917.5050,1929.3831,1917.505,0.2467,0.4821,0.2382,0.2382,0.2382,0.2467,1.0
3500.3230,9682.7344,9682.7344,9184.1543,9682.8135,9395.1484,9682.7344,0.899,0.0,0.1082,0.1127,...,1907.8120,1919.6980,1907.812,0.1309,0.5391,0.1263,0.1263,0.1263,0.1309,1.0
3500.4756,9518.9395,9518.9395,8973.8682,9518.5410,9204.9590,9518.9395,0.899,0.0,0.1254,0.1292,...,1919.9430,1933.9720,1919.943,0.1112,0.4539,0.1073,0.1073,0.1073,0.1112,1.0
3500.6279,9478.5098,9478.5098,8863.2881,9478.4951,9119.5605,9478.5098,0.899,0.0,0.1278,0.1299,...,1939.7710,1954.2300,1939.771,0.0608,0.3964,0.0587,0.0587,0.0587,0.0608,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4094.3784,10203.4102,NaN,NaN,10203.9102,NaN,NaN,0.899,0.0,NaN,NaN,...,2377.0530,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4094.5308,10153.6299,NaN,NaN,10152.9297,NaN,NaN,0.899,0.0,NaN,NaN,...,2369.0349,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4094.6831,10206.9600,NaN,NaN,10206.6699,NaN,NaN,0.899,0.0,NaN,NaN,...,2373.7029,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4094.8354,10056.8701,NaN,NaN,10055.8604,NaN,NaN,0.899,0.0,NaN,NaN,...,2395.9060,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4094.9878,10279.5703,NaN,NaN,10280.2402,NaN,NaN,0.899,0.0,NaN,NaN,...,2385.7600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0

In [7]:
well.header_table()

     mnemonic      description                 value
0        STRT      START DEPTH             3500.0183
1        STOP       STOP DEPTH             4094.9878
2        STEP             STEP                0.1524
3        NULL       NULL VALUE               -999.25
4        COMP          COMPANY  STATOIL PETROLEUM AS
5        WELL             WELL               15/9-19
6         FLD            FIELD                 VOLVE
7         LOC         LOCATION               UNKNOWN
8        CNTY           COUNTY               UNKNOWN
9        STAT            STATE               UNKNOWN
10       CTRY          COUNTRY                Norway
11       SRVC  SERVICE COMPANY               UNKNOWN
12       DATE         LOG DATE               UNKNOWN
13        UWI   UNIQUE WELL ID          NO 15/9-19 A
14     XCOORD        SURFACE X              1.928158
15     YCOORD        SURFACE Y             58.435286
16        LAT         LATITUDE             58.435286
17        LON        LONGITUDE              1.928158
18       ELEV     SURFACE ELEV                  25.0
19  ELEV_TYPE        ELEV TYPE                    KB

In [8]:
import lasio

In [ ]:
las = lasio.read('Data/159-19A_LFP.las')

In [ ]:
h = las.header['Well']

In [ ]:
header = {}

for item in h:
    header[item.mnemonic]= {'description':item.descr, 'value':item.value}

In [ ]:
header

In [ ]:
h.keys()

In [ ]:
header = {}

for item in las.well:
    print(item.mnemonic)
    header[item.mnemonic] = item.value

In [ ]:
header